.terms-wrapper {
  padding-top: 3rem;
  border-top: 1px solid var(--input-stroke);
}

.terms-inner {
  display: flex;
  position: relative;
  gap: 0.75rem;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:has(:checked) {
    .checkbox-img {
      border-color: var(--brand-light);
      background: url(../../assets/icons/check.svg) center;
    }
  }

  & a {
    color: var(--brand-light);
    font-weight: 600;
  }
}

.checkbox-img {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--input-stroke);
  border-radius: 0.25rem;
  background-color: var(--input-base);
}
