input,
textarea,
.radio-inline {
  appearance: none;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  background-color: var(--input-base);
  font: var(--text-body-md);
  color: var(--input-placeholder);
}

label {
  display: block;
  margin-bottom: 0.75rem;
  font: var(--text-body-sm);
}

input:focus,
textarea:focus,
input[type="datetime-local"]:focus-within {
  outline: 1px solid var(--brand-light);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

textarea {
  resize: none;
}

input[required] {
  &:invalid {
    border-color: var(--danger);
  }

  & + .error {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font: var(--text-body-xs);
    color: var(--danger);
    margin-top: 0.5rem;

    &::before {
      content: "Required field";
      padding-left: 1.5rem;
      background: url(../../assets/icons/alert.svg) no-repeat left/contain;
    }
  }
}
