.radio-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 3rem;
  padding: 0.25rem;
}

.radio-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;

  & input {
    all: unset;
  }

  & label {
    margin-bottom: 0;
  }

  & #in-person-image {
    background-image: url(../../assets/icons/building.svg);
    width: 1rem;
    height: 1rem;
  }

  & #online-image {
    background-image: url(../../assets/icons/video.svg);
    width: 1rem;
    height: 1rem;
  }

  &:has(:checked) {
    background-color: var(--shape-button);
    border-radius: 0.25rem;

    & #in-person-image {
      background-image: url(../../assets/icons/building-selected.svg);
    }

    & #online-image {
      background-image: url(../../assets/icons/video-selected.svg);
    }

    & label {
      font-weight: 600;
      color: var(--text-heading);
    }
  }
}

.color-option-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  width: 100%;

  & input {
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;

    border: 6px solid var(--shape-button);
    border-radius: 50%;
  }

  & #blue {
    background-color: var(--brand-light);
  }

  & #navy {
    background-color: #6a59ff;
  }
  & #purple {
    background-color: #b259ff;
  }

  & #fuschia {
    background-color: #ff59f9;
  }

  & #pink {
    background-color: var(--pink);
  }

  & #danger {
    background-color: var(--danger);
  }

  & #orange {
    background-color: #ff8b59;
  }

  & #yellow {
    background-color: #ffcd59;
  }

  & #lime {
    background-color: #e1ff59;
  }

  & #green {
    background-color: #59ff91;
  }

  & #cyan {
    background-color: #59fff9;
  }

  & input:hover {
    border-color: var(--shape-hover);
  }

  & input:focus,
  input:focus-within {
    outline: 2px solid var(--brand-light);
  }
}
