@import url(fields/index.css);

form {
  margin-top: 3rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 0.75rem;
}

legend {
  font: var(--text-heading-sm);
}

fieldset + fieldset {
  margin-top: 3rem;
}
