@import url(fields/index.css);

form {
  margin-top: 3rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 0.75rem;
}

legend {
  font: var(--text-heading-sm);
}

fieldset + fieldset {
  margin-block: 3rem;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;

  & button {
    all: unset;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    height: 3rem;
    color: var(--text-heading);
    background-color: var(--brand-dark);
    border-radius: 0.5rem;
    padding: 0 1.25rem;
    cursor: pointer;
  }
}
