#app {
  display: grid;
  grid-template-columns: 33.87% 66.13%;
  height: 100vh;
}

aside {
  background: url(../assets/background.png) top left/contain no-repeat;
  padding: 2rem;
  overflow: hidden;

  & .aside-container {
    display: grid;
    gap: 1rem;
  }

  & h1 {
    font: 400 2.5rem "Leckerli One", cursive;
    color: var(--pink);
  }

  & p {
    font-weight: 300;
    color: var(--text-heading);
  }
}

main {
  overflow: auto;

  & .main-container {
    padding-block: 5rem;
    max-width: 35rem;
    margin-inline: auto;
  }
}
